/*------------------------------------*\
  #FONTS
\*------------------------------------*/

/* Roboto */
@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  src: url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  src: url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.woff2') format('woff2');
}

/* Roboto Condensed */
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  src: url('../fonts/Roboto-Condensed-Regular.woff') format('woff'),
    url('../fonts/Roboto-Condensed-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  src: url('../fonts/Roboto-Condensed-Bold.woff') format('woff'),
    url('../fonts/Roboto-Condensed-Bold.woff2') format('woff2');
}

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
  font-family: 'Roboto', Helvetica, arial, sans-serif;
  color: black;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
}

@media (min-width: 700px) {
  html {
    font-size: 18px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: white;
  color: black;
  text-shadow: none;
}

::selection {
  background: #c9c9c9;
  color: black;
  text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  color: #006e2e;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 12px;
}

h2 {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 12px;
}

h3 {
  font-size: 20px;
  line-height: 34px;
  margin: 0 0 12px;
}

h4,
h5,
h6 {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 12px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 8px;
}

ul,
ol {
  padding-left: 24px;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  color: black;
  transition: all 0.1s ease-in-out;
  outline-color: #85bd3a;
}

a:visited,
a:active,
a:hover,
a:focus {
  color: black;
}

input[type='text'],
input[type='email'],
input[type='tel'] {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='tel']:focus {
  box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border: 1px solid #006e2e;
}

input:hover {
  border: 1px solid #7a7a7a;
}

textarea {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

textarea:focus {
  box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border: 1px solid #006e2e;
}

textarea:hover {
  border: 1px solid #7a7a7a;
}

footer {
  padding: 8px !important;
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(235, 235, 235);
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  position: relative;
  padding: 32px 32px 0;
  display: flow-root;
}

/* size modifiers */

.o-row--lg {
  padding: 48px 24px 24px;
}

.o-row--sm {
  padding: 12px 24px 0;
}

@media (min-width: 768px) {
  .o-row {
    padding-left: 48px;
    padding-right: 48px;
  }

  .o-row--sm {
    padding: 24px 24px 0;
  }

  .o-row--md {
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .o-row--lg {
    padding-top: 72px;
    padding-bottom: 48px;
  }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
}

.o-container-sm {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
  display: flow-root; /* New solution! Fixes margin collapsing */
}

.o-section + .o-section {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .o-section--lg + .o-section--lg,
  .o-section--xl + .o-section--xl {
    margin-top: 48px;
  }
}

@media (min-width: 1200px) {
  .o-section--xl + .o-section--xl {
    margin-top: 72px;
  }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
  display: flex;
  flex-wrap: wrap;
}

.o-layout__item {
  flex-basis: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
  margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
  padding: 0 12px;
}

.o-layout--gutter-sm {
  margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
  padding: 0 6px;
}

.o-layout--gutter-lg {
  margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
  padding: 0 24px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
  list-style: none;
  padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

.c-page--main-content {
  min-height: calc(100vh - 88px);
}

/*
    Component: Logo
    ---
    Website main Logo
*/

.c-logo {
  max-width: 100%;
  vertical-align: top;
  height: auto;
  display: inline-block;
}

.c-logo__link {
  text-decoration:none;
  height: max-content;
}


/*
    Component: header
    ---
    Main header of the website
*/

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 24px;
}

.c-header__nav {
  display: none;
}

.c-header__mobile-nav-trigger {
  width: 24px;
  height: 24px;
}



@media (min-width: 300px) {
  .c-header__mobile-nav-trigger {
    margin-bottom: 4px;
  }
}

@media (min-width: 400px) {
  .c-header__mobile-nav-trigger {
    margin-bottom: 8px;
  }
}

@media (min-width: 1200px) {
  .c-header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .c-header__logo,
  .c-header__nav {
    flex-grow: 1;
    flex-basis: 50%;
    align-items: flex-end;
  }

  .c-header__nav {
    display: flex;
    justify-content: flex-end;
  }

  .c-header__mobile-nav-trigger {
    display: none;
  }
}

/*
    Component: Nav
    ---
    Main navigation of the site
*/

.c-nav-trigger {
  width: 24px;
  height: 24px;
}

.c-nav-trigger__svg {
  fill: #202024;
  width: 24px;
  height: 24px;
}

.c-nav {
  font-size: 21px;
  line-height: 31.5px;
}

.c-nav__link {
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 8px 0px;
  position: relative;
}

.c-nav__link--mobile {
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 8px 0px;
  position: relative;
  color: black;
}

.c-nav__link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #85bd3a;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.c-nav__link:hover::before {
  visibility: visible;
  transform: scaleX(0.75);
}

.is-selected .c-nav__link::before {
  visibility: visible;
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #85bd3a;
  transform: scaleX(0.75);
}

.c-nav__link,
.c-nav__link:visited,
.c-nav__link:active {
  color: black;
}

@media (min-width: 1200px) {
  .c-nav__list {
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
  }

  .c-nav__link {
    padding: 8px 16px;
  }

  .c-nav {
    font-size: 28px;
    line-height: 42px;
  }
}

.c-nav__sublist {
  padding-left: 32px;
  color: darkgray;
  font-size: 18px;
}

/*
    Component: Mobile Nav
    ---
    Mobile Nav Component
*/

.c-mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  overflow-y: auto;
  z-index: 3;
  height: 100vh;
}

.has-mobile-nav .c-mobile-nav {
  pointer-events: auto;
}

.c-mobile-nav__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
}

.c-mobile-nav__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: #202024;
  transition: opacity 0.5s ease;
}

.has-mobile-nav .c-mobile-nav__bg {
  opacity: 0.5;
}

.c-mobile-nav__body {
  position: relative;
  width: 100vw;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  min-height: 100vh;
  overflow-y: auto;
}

.has-mobile-nav .c-mobile-nav__body {
  transform: translateX(0);
}

.c-page {
  transform: translateX(0);
  padding: 0;
}

.has-mobile-nav .c-page {
  transform: translateX(25%);
  transition: transform 0.5s ease;
}

@media (min-width: 1200px) {
  /* Hide the mobile nav on larger viewports even whent it's open on smaller screens */
  .c-mobile-nav {
    display: none !important;
  }
}

/*********/

.c-button--thankyou {
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  border: 2px solid #006e2e;
  background-color: #006e2e;
  border-radius: 2px;
  margin-top: 16px;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Roboto', Helvetica, arial, sans-serif;
}

.c-button--thankyou:hover {
  border: 2px solid #005021;
  background-color: #005021;
}

/*
    Component: Button
    ---
    Button Component
*/

.c-button--form {
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #006e2e;
  color: white;
  border: 2px solid #006e2e;
  border-radius: 2px;
  margin-top: 16px;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
}

.c-button--form:hover {
  border: 2px solid #006e2e;
  background-color: #005021;
}

.c-button--form:focus {
  border: 2px solid #006e2e;
  background-color: #005021;
  color: white;
  outline-color: #85bd3a;
}

/* ------------------------- SLIDESHOW -------------------------------- */

.c-slideshow-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  height: 35vh;
}

@media (min-width: 1000px) {
  .c-slideshow-image {
    height: 50vh;
  }
}

@media (min-width: 1200px) {
  .c-slideshow-image {
    height: 50vh;
  }
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.c-slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.c-slides {
  display: none;
}

/* Next & previous buttons */
.c-slide--prev,
.c-slide--next {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.c-slide--next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.c-slide--prev:hover,
.c-slide--next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.c-slides--dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.c-slide--active,
.c-slides--dot:hover {
  background-color: #717171;
}

/*********/

.c-dropdownbtn {
  text-decoration: none;
  font-weight: 500;
  display: block;
  position: relative;
}

.c-dropdown {
  position: relative;
  display: inline-block;
}

.c-dropdown--content {
  margin-top: 8px;
  border-radius: 3px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.c-dropdown--content a {
  padding: 12px 16px;
  text-decoration: none;
  font-weight: 500;
  display: block;
}

.c-dropdown--content a:hover {
  background-color: #e9e9e9;
}

.c-dropdown:hover .c-dropdown--content {
  display: block;
}

@media (min-width: 1200px) {
  .c-dropdown {
    padding: 8px 16px;
  }
}

/*********/

.c-grid-images {
  margin: 32px 0px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}

.c-grid-image {
  place-self: center stretch;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

@media (min-width: 500px) {
  .c-grid-image {
    height: 213px;
  }
}

@media (min-width: 750px) {
  .c-grid-images {
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .c-grid-images {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*************/

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.c-modal {
  display: none;
  position: fixed;
  z-index: 2;
  /* padding-top: 100px; */
  padding: 10vh 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content */
.c-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  width: max-content;
  max-width: 95vw;
}

/* The Close Button */
.c-closebtn {
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 35px;
  font-weight: bold;
}

.c-closebtn:hover,
.c-closebtn:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.c-slides-gallery {
  display: none;
}

/* Next & previous buttons */
.c-slides-gallery--prev,
.c-slides-gallery--next {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -25px;
  color: white !important;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.c-slides-gallery--next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.c-slides-gallery--prev:hover,
.c-slides-gallery--next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.c-slide--numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.c-slide--image {
  max-height: 80vh;
}

.c-card {
  background-color: rgb(235, 235, 235);
  padding: 16px;
  margin: auto 8px auto 8px;
}

/* ------ */
/* Style the button that is used to open and close the collapsible content */
.c-collapsible {
  color: black;
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: right;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible-active,
.c-collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.c-collapsible--content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
  padding-top: 0 !important;
}

.u-pt-md {
  padding-top: 16px !important;
}

.u-mb-clear {
  margin-bottom: 0 !important;
}

.u-mb-xs {
  margin-bottom: 4px !important;
}

.u-mb-sm {
  margin-bottom: 8px !important;
}

.u-mb-md {
  margin-bottom: 16px !important;
}

.u-mb-lg {
  margin-bottom: 32px !important;
}

.u-mb-xl {
  margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
  max-width: 18em !important;
}

.u-max-width-sm {
  max-width: 32em !important;
}

.u-max-width-md {
  max-width: 42em !important;
}

.u-max-width-lg {
  max-width: 60em !important;
}

.u-max-width-xl {
  max-width: 70em !important;
}

.u-max-width-none {
  max-width: none !important;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
  flex-basis: auto !important;
}

.u-flex-grow-1 {
  flex-grow: 1 !important;
}

.u-1-of-2 {
  flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
  flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
  flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
  flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
  flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
  flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
  flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
  flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
  flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
  flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
  flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
  .u-1-of-2-bp1 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp1 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp1 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp1 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp1 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp1 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp1 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp1 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp1 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp1 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp1 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 768px) {
  .u-1-of-2-bp2 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp2 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp2 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp2 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp2 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp2 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp2 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp2 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp2 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp2 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp2 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 992px) {
  .u-1-of-2-bp3 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp3 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp3 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp3 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp3 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp3 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp3 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp3 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp3 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp3 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp3 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 1200px) {
  .u-1-of-2-bp4 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp4 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp4 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp4 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp4 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp4 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp4 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp4 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp4 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp4 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp4 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
